:root {
    --negro_defult: #212121;
    --blanco_default: #ffffff;
    --amarillo_defult: #ffc107;
    --azul_defult: #0097a7;
     --gris_defult: #757575;
    --color_XD: #14E340;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.title {
    text-align: center;
    font-size: 3rem;
    margin-left: 20rem;
    margin-right: 20rem;
}

.title span {
    font-size: 2rem;
    color: var();
}

.contenedor_nav {
    width: 120rem;
    margin: 0 auto;
}

.color_navegador{
    background-color: var(--azul_defult);
}

.navegacion_principal {
    display: flex;
    justify-content: space-between;
}

.navegacion_principal a{
    color: var(--blanco_default);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
    padding: 1rem;
}

.navegacion_principal a:hover{
    background-color: var(--amarillo_defult);
    color: var(--negro_defult);
}
