:root {
    --negro_defult: #212121;
    --blanco_default: #ffffff;
    --amarillo_defult: #ffc107;
    --azul_defult: #0097a7;
    --gris_defult: #757575;
    --color_XD: #14E340 ;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
.title{
    text-align: center;
    font-size: 3rem;
    
}
.title span{
    font-size: 2rem;
}
.contenedor{
    width: 120rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto; */
    margin: 0rem auto 0rem auto;
}
.navegacion_default a{
    background-color: var(--negro_defult);
}
.navegacion_2{
    background-color: var(--azul_defult);
}
